<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@{
    ViewData["Title"] = "About us";
}

<head>
    <h1>@ViewData["Title"]</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
</head>

<body>

    <p>
        HELLO WE ARE COLMAN FACTORY
    </p>
    <p>
        הוא בית לנעליים  למותגים הכי נחשקים ולטרנדים המובילים בעולם.

        האתר שלנו מציע מבחר של רחב של מותגי ספורט, אופנה וסטריט בינלאומיים.

        הקולקציות והפריטים נבחרים בקפידה מתוך היכרות עמוקה עם הקהל שלנו ובהשפעת טרנדים בינלאומיים והשראה יומיומית.

    </p>
    <p>

        EVERYDAY FASHION, FLEXIBLE PRICES
    </p>

    <p>

        אנחנו מייבאים אופנה יומיומית ומתחלפת, מהיצרן לצרכן. המחירים שלנו נוחים לכל כיס במיוחד לסטודנטחם בשאיפה שיותר ויותר אנשים ייחשפו ויהנו.

    </p>
</body>