<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@{
    ViewData["Title"] = "Visit Us";
}
<head>
    <h1>@ViewData["Title"]</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">

        <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV" data-label_2="WEATHER">TEL AVIV WEATHER</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');</script>
    </div>


</head>

<body>
</body>