@{ ViewData["Title"] = "My Cart"; }

<div class="text-light">
    <div class="=">Payment Recieved</div>
    <div class="">Thank you for your purchase!</div>
    <br />
    <a class="" href="/Home/index">Back to Home Page</a>
</div>